.SectionMainHome{
    display: flex;
    align-items: center;
    max-width: 80%;
    cursor: pointer;
    gap: 5em;
    margin: 90px 0 0 40px;
}

.SectionMainHome .escola-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .4s;
}

.SectionMainHome .escola-section:hover{
    transform: translateY(-5px);
}

.SectionMainHome .escola-section a{
    color: #000;
    text-decoration: none;
}

.SectionMainHome .alunos-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .4s;
}

.SectionMainHome .alunos-section:hover{
    transform: translateY(-5px);

}

.SectionMainHome .alunos-section a{
    text-decoration: none;
    color: black;
}

.SectionMainHome .adicionar-usuario-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .adicionar-usuario-section:hover{
    transform: translateY(-5px);
}

.SectionMainHome .adicionar-usuario-section a{
    color: #000;
    text-decoration: none;
}

.SectionMainHome .leitura-de-prova-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .leitura-de-prova-section:hover{
    transform: translateY(-5px);
}

.SectionMainHome .painel{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .painel:hover{
    transform: translateY(-5px);
}

.SectionMainHome .painel a{
    color: #000;
    text-decoration: none;
}

.SectionMainHome .suporte-online{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .suporte-online:hover{
    transform: translateY(-5px);
}

.SectionMainHome .video-tutorial{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .video-tutorial:hover{
    transform: translateY(-5px);
}