.SectionMainHome{
    display: flex;
    align-items: center;
    max-width: 80%;
    cursor: pointer;
    gap: 3em;
    margin: 70px 0 0 30px;
}

.SectionMainHome .escola-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .4s;
}

.SectionMainHome .escola-section:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome .escola-section a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.SectionMainHome .alunos-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .4s;
}

.SectionMainHome .alunos-section:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);

}

.SectionMainHome .alunos-section a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.SectionMainHome .adicionar-usuario-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 8px 10px;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .adicionar-usuario-section:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome .adicionar-usuario-section a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.SectionMainHome .leitura-de-prova-section{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .5s;
    font-weight: bold;
}

.SectionMainHome .leitura-de-prova-section:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome .painel{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.SectionMainHome .painel:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome .painel a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.SectionMainHome .suporte-online{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: .5s;
    font-weight: bold;
}

.SectionMainHome .suporte-online:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}

.SectionMainHome .video-tutorial{
    max-width: 10%;
    display: flex;
    flex-direction: column;
    border: 5px solid #2e4e7e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: .5s;
    font-weight: bold;
}

.SectionMainHome .video-tutorial:hover{
    border: 5px solid #04944c;
    transform: translateY(-5px);
}