.Navbar {
    background-color: rgba(9, 44, 118, 0.155);
    border-bottom: 1px solid #313131;
    padding: 10px 20px;
  }
  
  .navegation {
    display: flex;
    align-items: center;
  }

  #foto-usuario {
    max-width: 40px;
    margin-right: 10px;
  }
  
  .custom-file-upload {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #f0f0f0;
  }

  .custom-file-upload i{
    position: absolute;
    top: 70%; 
    right: 20%; 
    transform: translate(50%, -50%); 
    border-radius: 50%;
    padding: 3px;
  }
  
  
  #logo-nav-home {
    max-width: 40px;
    margin-right: 10px;
  }
  
  .info-user {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
  }
  
  .escola {
    font-size: 0.9em;
    margin-top: -10px;
  }
  
  .usuario {
    font-size: 0.9em;
    margin-top: 12px;
  }
  
  .ensino {
    font-size: 0.9em;
    margin-top: -10px;
  }

  .buttons-back{
      margin-left: auto; 
      display: flex;
      align-items: center;
      gap: 3em;

  }
  
  .btn-logout {
    background-color: #953333;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1em;
    color: #fff;
    transition: color 0.3s ease;
}

.btn-logout:hover {
    transform: none;
}

.back-arrow {
    font-size: 3em;
    cursor: pointer;
  }
  