.navegation-navbar-login{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #313131;
    margin-bottom: 0;
}

#logo{
    max-width: 10% !important;
}

.navbar-login ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar-login li{
    list-style: none;
}

.navbar-login a{
    text-decoration: none;
    color: var(--preto);
}

.navbar-login h1{
    text-align: left;
    margin: 0;
    padding: 10px 15px;    
}
